.header {
  align-items: center;
  background-color: #fff;
  box-shadow: theme('boxShadow.xs');
  display: flex;
  height: 68px;
  padding: 0 theme('spacing.6');
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
