.modal {
  background-color: #fff;
  border: none;
  border-radius: theme('borderRadius.lg');
  box-shadow: theme('boxShadow.xs');
  left: 0;
  margin: 0 auto;
  padding: theme('spacing.6');
  position: absolute;
  outline: none;
  right: 0;
  width: 100%;
  margin: 60px auto;

  &__overlay {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: auto;
  }

  &__icon-close {
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
    z-index: 1;
  }

  &--sm {
    max-width: theme('maxWidth.lg');
  }

  &--lg {
    max-width: theme('maxWidth.xl');
  }
}
