.board-list {
  width: 250px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-x: hidden;
  margin-right: theme('spacing.8');

  &__header {
    align-items: center;
    cursor: grab;
    display: flex;
    justify-content: space-between;
    margin-bottom: theme('spacing.4');
  }

  &__body {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 theme('spacing.2');
  }

  &__title {
    font-weight: 500;
    font-size: theme('fontSize.sm');
  }

  &__button-more > * {
    pointer-events: none;
  }
}

.list-drop-preview {
  border: 1px dashed theme('colors.blue.20');
  background-color: theme('colors.blue.10');
  border-radius: theme('borderRadius.lg');
}

.card-drop-preview {
  @extend .list-drop-preview;
  margin-bottom: theme('spacing.6');
}

.card-ghost,
.list-ghost {
  transform: rotate(3deg);
}

.card-ghost-drop,
.list-ghost-drop {
  transform: rotate(0);
}

.smooth-dnd-draggable-wrapper {
  padding: 0.3rem;
}

//override property touch action on none, on mobile devices to scroll
.smooth-dnd-disable-touch-action.smooth-dnd-mobile * {
  touch-action: initial !important;
}
