.board-lists-grid {
  grid-area: lists-grid;
  background-color: theme('colors.gray.10');
  border-radius: theme('borderRadius.lg');
  margin-left: theme('spacing.6');
  margin-right: theme('spacing.6');
  padding: 28px;
  overflow-x: auto;
  overflow-y: hidden;

  .smooth-dnd-container.horizontal {
    flex-shrink: 0;
    height: 100%;
  }
}
