.board-popover-add-label {
  width: 260px;
  background-color: #fff;
  padding: theme('spacing.4');
  border-radius: theme('borderRadius.lg');
  box-shadow: theme('boxShadow.md');

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: theme('spacing.3');
  }

  &__header-title {
    font-size: theme('fontSize.2xs');
    font-weight: 600;
    margin-bottom: 2px;
  }

  &__header-text-help {
    font-size: theme('fontSize.2xs');
    color: theme('colors.gray.40');
  }

  &__header-button-close {
    padding: 0;
  }

  &__grid-colors {
    margin-top: theme('spacing.3');
    margin-bottom: theme('spacing.4');
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
  }

  &__color {
    height: 27px;
    background-color: theme('colors.gray.30');
    border-radius: theme('borderRadius.lg');
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    &.color--blue {
      background-color: theme('colors.blue.20');
    }

    &.color--green {
      background-color: theme('colors.green.20');
    }

    &.color--orange {
      background-color: theme('colors.orange.20');
    }

    &.color--purple {
      background-color: theme('colors.purple.20');
    }

    &.color--yellow {
      background-color: theme('colors.yellow.20');
    }
  }

  &__avaliable-labels {
    margin-bottom: theme('spacing.5');
  }

  &__header-avaliable-labels {
    display: flex;
    align-items: center;
    color: theme('colors.gray.40');
  }

  &__header-title-avaliable-labels {
    font-size: theme('fontSize.xs');
    margin-left: 6px;
  }

  &__grid-avaliable-labels {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    grid-gap: 12px;
  }

  &__button-delete-avaliable-label {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: theme('colors.red.10');
    border-radius: 50%;
    bottom: 82%;
    right: 2%;
    transform: translate(50%, 50%);
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
